# core
node_modules/
.next/
out/
build/
.vercel
*.log
*.local

# secrets
.env
.env*.local

# os
.DS_Store
Thumbs.db

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
